<app-header></app-header>

<h1>Dossiers à fournir</h1>

<div class="elements">
  <div class="element">
    <h1>Prescolaire</h1>
    <ul>
      <li>Extrait ou bulletin de naissance</li>
      <li>2 photos d'identité</li>
      <li>Pages de vaccination</li>
    </ul>
  </div>
  <div class="element">
    <h1>Elémentaire</h1>
    <ul>
      <li>Extrait de naissance</li>
      <li>2 photos d'identité</li>
      <li>Un certificat de scolarité (pour les transférés: test d'entrée à faire)</li>
      <li>2 tenues + 1 tenue de sport a 25 000F CFA payable en 2 mensualites Novembre-Decembre</li>
    </ul>
  </div>
</div>
