.inscription{
  background-color: #318176;
  width: 80%;
  margin: 20px auto;
  padding: 25px;
  border-radius: 24px;
  h1{
    text-align: center;
  }
  h4{
    text-align: center;
  }
  form{
    h3{
      text-align: center;
    }
    .firstline{
      display: grid;
      grid-template-columns: 1fr 1fr;
      .step-one{
        background-color: white;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 24px;
        text-align: center;
        input[type = "text"]{
          border: 0;
          background: none;
          display: block;
          margin: 15px auto;
          text-align: center;
          border: 2px solid ;
          border-color: #318176;
          padding: 8px;
          width: 130px;
          outline: none;
          color: rgb(126, 120, 120);
          border-radius: 24px;
          transition: 1s;
          &:focus{
            width: 160px;
            border-color: #0AFBC3;
          }
        }
      }
      .step-two{
        background-color: white;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 24px;
        text-align: center;
        input[type = "text"]{
          border: 0;
          background: none;
          display: block;
          margin: 15px auto;
          text-align: center;
          border: 2px solid ;
          border-color: #318176;
          padding: 8px;
          width: 130px;
          outline: none;
          color: rgb(126, 120, 120);
          border-radius: 24px;
          transition: 1s;
          &:focus{
            width: 160px;
            border-color: #0AFBC3;
          }
        }
      }
    }
    .step-three{
      text-align: center;
      background-color: white;
      padding: 20px;
      margin-top: 25px;
      border-radius: 24px;
      input[type = "text"]{
        border: 0;
        background: none;
        display: inline-block;
        margin: 5px 20px;
        text-align: center;
        border: 2px solid ;
        border-color: #318176;
        padding: 8px;
        width: 175px;
        outline: none;
        color: rgb(126, 120, 120);
        border-radius: 24px;
        transition: 1s;
        &:focus{
          width: 190px;
          border-color: #0AFBC3;
        }
      }
      .st-input{
        margin: 10px;
      }
    }
    .button{
      text-align: center;
      input[type = "submit"]{
        border: 0;
        background: white;
        display: block;
        margin: 15px auto;
        text-align: center;
        border: 1px solid ;
        border-color: #0AFBC3;
        padding: 8px;
        width: 200px;
        outline: none;
        color: rgb(126, 120, 120);
        border-radius: 24px;
        transition: 1s;

      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 768px) and (max-width: 1024px) {
  .inscription{
    form{
      .firstline{
        grid-template-columns: 1fr;
        .step-one{

        }
        .step-two{
         margin: 20px auto;
        }
      }
      .step-three{

      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 320px) and (max-width: 480px) {

  .inscription{
    form{
      .firstline{
        grid-template-columns: 1fr;
        .step-one{
          margin: 20px auto;
        }
        .step-two{
          margin: 20px auto;
        }
      }
      .step-three{
        margin: 10px auto;
      }
    }
  }

}

/////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 481px) and (max-width: 767px) {

  .inscription{
    form{
      .firstline{
        grid-template-columns: 1fr;
        .step-one{
          margin: 20px auto;
        }
        .step-two{
          margin: 20px auto;
        }
      }
      .step-three{
        margin: 10px auto;
      }
    }
  }

}

/////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 1025px) and (max-width: 1280px) {

}

/////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 1281px)  {

}

/////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (max-width: 320px) {
  .inscription{
    form{
      .firstline{
        grid-template-columns: 1fr;
        .step-one{
          margin: 20px auto;
        }
        .step-two{
          margin: 20px auto;
        }
      }
      .step-three{
        margin: 10px auto;
      }
    }
  }

}
