<app-header></app-header>

<div class="ape">

<h1>APE</h1>

<p>
  L'association des parents d'élèves du G S La Pyramide a été mis en place depuis les premières années de la création
  de l'établissement. Elle a toujours été très dynamique pour accompagner les élèves de l'établissement dans les
  activités intra-scolaire et extra-scolaire.Elle comporte un bureau restreint constitué d'un président, d'une
  trésorière, d'un secrétaire et de commissions pédagogique et sociale. Elle compte à son actif des actions telles
  ques la prise en charge des sorties récreatives et pédagogiques, un soutien et une collaboration dans toute action
  menée par l'école. Des réunion périodiques se tiennent pour partager et échanger sur les activités qui peuvent
  aider l'école à se devolopper.
</p>

</div>
