// app-header{
//   width: 100%;
// }

.contact{
  h1{
    width: 30%;
    border-radius: 12px;
    margin: 15px auto;
    text-align: center;
    background-color: white;
    padding: 10px;
  }
  .numbers{
    background-color: white;
    padding: 20px;
    width: 70%;
    margin: 15px auto;
    border-radius: 12px;
    h3{
      text-align: center;
    }
    ul{
      li{
        font-size: 18px;
      }
    }
  }
}

// app-footer{
//   margin-top: 200px;
//   width: 100%;
//   position: absolute;
//   bottom: 0;
// }
