h1{
  text-align: center;
  margin: 15px auto;
}
a{
  margin: 5px auto;
  text-decoration: none;
  color: red($color: #535050);
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 12px;
}
