<app-header></app-header>

  <main>

  <div class="hello">
    <h1>Groupe scolaire la Pyramide</h1>
    <h3>Aidons nos enfants a atteindre le sommet</h3>
    <h5>A la Pyramide nous chantons l'excellence</h5>
    <a routerLink="../inscription">Inscrivez votre enfant ici</a>
    <!-- <a routerLink=""></a> -->
  </div>
  <div class="utilities">

    <div class="utility">
      <h2><a routerLink="">Fournitures</a></h2>
      <p>Retrouvez les fournitures de vos enfants <span><a routerLink="">ici</a></span></p>
    </div>

    <div class="utility">
      <h2><a routerLink="">Activites</a></h2>
      <p>Retrouvez les activitees de vos enfants <span><a routerLink="">ici</a></span></p>
    </div>

    <div class="utility">
      <h2><a routerLink="">Horaires</a></h2>
      <p>Retrouvez les horaires de descente de vos enfants <span><a routerLink="">ici</a></span></p>
    </div>

    <div class="utility">
      <h2><a routerLink="">Options</a></h2>
      <p>Retrouvez les differentes options (cantine, transport, renforcement, Coran) <span><a routerLink="">ici</a></span> </p>

    </div>

  </div>

  <div class="results">
    <h1>Resultats CFEE 2019</h1>
  </div>

  <div class="activities-photos">

    <div class="title">
      <h1>Photos activitees 2019</h1>
    </div>

    <div class="photos"></div>

  </div>

  <app-footer></app-footer>

</main>

